python-dotenv>=1.0.1
discord.py>=2.4.0
ffmpeg>=1.4
yt-dlp>=2023.12.13
ping3>=4.0.8
discord-ext-voice-recv>=0.4.2a145
colorlog>=6.9.0
PyYAML>=6.0.2
fastapi>=0.115.7
Jinja2>=3.1.5
python-multipart>=0.0.20
uvicorn>=0.34.0
scikit-learn>=1.6.1
gTTS>=2.5.4