body {
    font-family: Arial, sans-serif;
    background-color: #17171b;
    margin: 0;
    padding: 0;
}

/* Login */

.login {
    margin: 100px auto;
    border: 1px solid #cccccc57;
    border-radius: 10px;
    background-color: #ffffff0e;
    padding: 20px;
    width: 400px;
}
.login h2 {
    text-align: center;
    color: #ccc;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #cccccc57;
    border-radius: 5px;
    background-color: #ffffff0e;
    color: #ccc;
}

.login-form button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #cccccc57;
    border-radius: 5px;
    background-color: #ffffff0e;
    color: #ccc;
}
.login-form button:hover {
    background-color: #ffffff1a;
    cursor: pointer;
}

.login-link-discord {
    color: #ccc;
    text-align: center;
    align-content: center;
    width: 100%;
}
.login-link-discord a {
    color: #79c3ff;
    text-decoration: none;
    cursor: pointer;
}
.login-link-discord a:hover {
    text-decoration: underline;
}


/* Dashboard */

.dashboard {
    margin: 20px auto;
    border: 1px solid #cccccc57;
    border-radius: 10px;
    background-color: #ffffff0e;
    padding: 20px;
    width: 90%;
    height: 100%;
}
.dashboard h2 {
    text-align: center;
    color: #ccc;
}

.download-link {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    text-decoration: none;
    color: #ccc;
    background-color: #ffffff0e;
    padding: 10px;
    border: 1px solid #cccccc57;
    border-radius: 10px;
    text-align: center;
}
.download-link:hover {
    background-color: #ffffff1a;
    cursor: pointer;
}
.download-files {
    display: flex;
    flex-direction: column;
}
.download-files li {
    list-style-type: none;
}

.upload-form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.upload-form input[type=file]::file-selector-button {
    display: none;
}
.upload-form input {
    color: #ccc;
    border: 10px;
    padding: 10px;
    border: 1px solid #cccccc57;
    border-radius: 5px;
    background-color: #ffffff0e;
    text-align: center;
    width: 70%;
    margin: 10px auto;
}

.upload-form button {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #cccccc57;
    border-radius: 5px;
    background-color: #ffffff0e;
    color: #ccc;
    width: 70%;
}
.upload-form button:hover {
    background-color: #ffffff1a;
    cursor: pointer;
}
.upload-form input:hover {
    cursor: pointer;
    background-color: #ffffff1a;
}
.download-title {
    text-align: center;
    color: #ccc;
    width: 100%;
}